/* Цвета */
$primary-color: #007bff;
$secondary-color: #ff8124;
$background-color: #f3f7fa;
$text-color: #333;
$border-color: #ddd;
$white: #ffffff;
$primary-hover-color: #f2fcff;

/* Шрифты */
$font-family: 'Open Sans', sans-serif;

/* Размеры */
$padding-base: 16px;
$margin-base: 16px;
$border-radius: 8px;
