@import '@styles/abstracts/_variables';

.LanguageSwitcher {
  width: 100%;
  margin-top: $margin-base;

  &-wrapper {
    display: flex;
    gap: $padding-base;

    .btn-lang {
      width: 100%;
      background: $white;
      border: none;
      padding: 12px 16px;
      cursor: pointer;
      color: $primary-color;
      transition: 0.5s ease-in-out;
      border: 1px solid $border-color;
      border-radius: $border-radius;

      &.active {
        background: $secondary-color;
        border: 1px solid $secondary-color;
        color: $white;
      }
    }
  }
}
