@import '@styles/abstracts/_variables';

.TicketCard {
  width: 100%;
  background: $white;
  border-radius: $border-radius;

  &-wrapper {
    display: flex;
  }

  &-header {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
    padding: 12px;
    border-right: 1px solid $border-color;

    &__img {
      width: 150px;
      height: 66px;
    }

    .buy-button {
      width: 100%;
      padding: 8px;
      border: unset;
      border-radius: $border-radius;
      color: $white;
      background: $secondary-color;

      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
      text-align: center;
    }
  }

  &-details {
    padding: 12px;
    display: flex;
    justify-content: space-between;

    .date {
      font-size: 38px;
    }

    .from {
      font-size: 16px;
      &-date {
        color: $border-color;
        font-size: 14px;
      }
    }

    .to {
      font-size: 16px;
      &-date {
        color: $border-color;
        font-size: 14px;
      }
    }

    .departureTime {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      min-width: 140px;
    }

    .arrivalTime {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      min-width: 140px;
    }

    .transfers {
      display: flex;
      gap: 8px;
      flex-direction: column;
      &__title {
        span {
          color: $border-color;
          font-size: 14px;
        }
      }

      &__icon {
        display: flex;
        align-items: center;
        img {
          transform: rotate(90deg);
        }

        &-line {
          width: 100px;
          height: 1px;
          background: $border-color;
        }
      }
    }
  }
}
