@import '@styles/abstracts/_variables';

.Home {
  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  &-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: $padding-base;
    min-height: 100vh;

    .sidebar {
      width: 250px;
      padding: $padding-base;
      background: $white;
      border-radius: $border-radius;
    }
  }
}
